<manifest package="com.pawel.nfckeychain"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".Activities.AddMasterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.ReceiveActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.EmitNFCActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.ReceiveNFCActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.ManageGuestsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".Activities.DoorStatusActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
